body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.horizontal-list li {
  text-align: center;
}

.horizontal-list li img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
}

header {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 0;
}

header img {
    width: 200px;
    margin-left: 180px;
}

.hero {
    background-color: #1034A6;
    color: #F2F9FC;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.hero-content {
    width: 50%;
    text-align: left;
    padding-left: 50px;
}

.hero img {
    width: 30%;
}

.hero-content {
    max-width: 450px;
}

.hero h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.cta-button {
    background-color: #FEBE00;
    color: #1034A6;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #f0b200;
}

.app-badges {
    margin-top: 20px;
}

.app-badges img {
    width: 120px;
    margin-right: 10px;
}

.video-section {
    text-align: center;
    padding: 50px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f4f4f4;
}

.feature {
    text-align: center;
    width: 30%;
}

.feature img {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    background-color: #041E42;
    color: #fff;
    text-align: center;
    padding: 20px;
}
